# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Python Virtual Environment
# =========================
venv/
.venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# SQLite
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Logs
# =========================
*.log